body {
    margin: 0;
    background-color: #c6c6c9;
}

.container {
    width: 100%;
}

.header-container {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
}

.header-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #282b38;
    z-index: 2;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282b38;
    padding: 20px 10px 20px 10px;
    color: #ffffff;
    flex-grow: 1;
}

.logo {
    margin-right: 80px;
    position: relative;
    z-index: 3;
}

.sublist {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 40px;
}

.font-sheet {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s;
    font-size: 16px;
    white-space: nowrap;
}

.font-sheet:hover {
    color: #8f8f8f;

}

.content-container {
    width: auto;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #c6c6c9;

}

.content {
    width: 100%;
    height: 2000px;
    margin-top: 6%;
}

.button-cap {
    outline: none;
    background-color: #e58d35; 
    padding: 16px 30px;
    border-radius: 90px;
    border: none;
    color: #ffffff;
    white-space: nowrap;
    cursor: pointer;
    margin-left: 80px;
    font-size: 15px;
    position: relative;
    z-index: 2;
}


.button-cap:hover {
    background-color: #dfab89;
}

.burger-menu {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.burger-content {
    display: flex;
    justify-content: center;
    align-items: center;   
}
.list {
    position: relative;
    z-index: 2;
}
.burger {
    display: none;
}



@media (max-width: 1100px) {

    body.lock {
        overflow: hidden;
    }

    .header {
        justify-content: space-between;
    }

    .logo { 
        
        margin-left: 20px;
    }

    .burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        margin-right: 20px;
    } 

    .burger span {
        content: '';
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        top: 8px;
        transition: all .3s, ease .3s; ;
    }

    .burger-menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #6C7188;
        transition: all 0.5s ease-out;
        
    }

    .burger-menu.active {
        position: fixed;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
        background-color: #6c7188;
        transition: all 0.5s ease-out;
        margin-top: 94px;
    }


    .burger-content {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        background-color: #6c7188;
        flex-direction: column;
        overflow: auto;
    }

    .list{
        margin-top: 40px;
    }
    
    .sublist {
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 25px;
        flex-direction: column;
        align-items: center;
    }

    .font-sheet {
        font-size: 21px;  
    }

    .button-cap {
        font-size: 16px;
        margin-left: 0;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .burger:before,
    .burger:after {
        content: '';
        left: 0;
        position: absolute;
        background-color: #ffffff;
        width: 100%;
        height: 4px;
        border-radius: 10px;
        transition: all .3s, ease .3s;
    }

    .burger::before {
        top: 0;
        
    }
    .burger::after {
        bottom: 0;
        
    }

    .burger.active span {
        transform: scale(0);
        transition: all .3s, ease .3s; ;
    }

    .burger.active::before {
        transform: rotate(45deg);
        top: 9px;
        transition: all .3s, ease .3s; 
    }
    .burger.active::after {
        transform: rotate(-45deg);
        bottom: 7px;
        transition: all .3s, ease .3s; 
    }

    
}

@media (max-height: 500px) {

    .burger-menu {
        overflow: auto;
    }

    .burger-content {
        margin-top: 80px;
        margin-bottom: 40px;
    }
}