body {
    margin: 0;
    background-color: #c6c6c9;
}

.container{
    position: relative;
    background-color: #282B38;
    padding-left: 5%;
    padding-right: 5%;
}


header {
    margin: 0 auto;
    width: 68%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282B38;
    padding: 1% 1%;
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.list {
    min-width: 570px;
}

.list ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
}

.list a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.list a:hover {
    color: #8f8f8f;
}



.button {
    background-color: #E58D35; 
    padding: 1.5% 3%;
    border-radius: 90px;
    color: #fff;
    white-space: nowrap;
}

.button:hover {
    background-color: #dfab89;
}