@font-face { 
    font-family: "ProRegular"; 
    src: url("/FONTS/proximanova_regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 
  @font-face { 
    font-family: "BlackRegular"; 
    src: url("/FONTS/proximanova_black.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
  } 

  a, button, .logo {
    font-family: "ProRegular", sans-serif;
}